* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
.infotechno-img-one {
  position: absolute;
  padding-top: 10px;
}

.infotechno-img-two {
  position: relative;
  z-index: 1;
}
.infotechno-bg {
  background: #f4efe9 none repeat scroll 0% 0%;
}
.infotechno-hero-text h6 {
  color: #086ad8;
  font-weight: 500;
  margin-bottom: 20px;
}
.left-arrow {
  font-size: 64px;
  color: gray;
}
.right-arrow {
  font-size: 64px;
  color: gray;
}

#carouselExampleControlsTwo {
  margin: 0 auto;
  background: white;
  margin-top: 10px;
  margin-bottom: 10px;
}
.testimonial-slider-single {
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
}
.author-info img {
  border-radius: 100%;
}
.author-info {
  margin-top: 2rem;
}

.carousel {
  margin-top: 20px;
}
.carousel-two {
  margin-top: 20px;
  background: #f4efe9 none repeat scroll 0% 0%;
  margin-bottom: 20px;
}
.single-slider-text {
  color: #002fa6;
}
.testimonial-slider-single h6 {
  font-weight: bold;
}
a{
  list-style: none;
}
.brand-logo-hover{
  position: absolute;
  margin-top: 0;
  margin-left: 0;
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.brand-logo-hover, .brand-logo{
  width: 100%;
}